<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/barcontrol.js') }}"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>{{ title }}</h1>
    </header>
    <h2 id="loading-section"><span class="spinner-border" role="status"><span class="sr-only"></span></span>
    Loading progress bars...</h2>
    <div id="error-section" class="alert alert-danger d-none" role="alert">
        <p id="error-msg"></p>
    </div>
    <main>
        <div id="meters" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center">
        </div>
    </main>
</div>
</body>
<script>
    $INTERVAL = {{ interval }};
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    update_bars();
    setInterval(function(){
        update_bars();
    }, $INTERVAL);
</script>
</html>